	<!--?php		
		require_once"partes/barraDeMenu.php";
	 ?-->

 		<div class="container">
 			<button class="btn btn-info " ng-click="irALogin()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Login 123</button>
			<button class="btn btn-info " ng-click="irARegistro()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Registro 123</button>
		</div>

              <ul class="nav nav-tabs">
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<button ng-click="irALogin()">
		         		 <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
		         		 Login 
		         	</button>
		         </li>
		         <li class="btn btn-info animated bounceInLeft" >
		         	<button ng-click="irARegistro()">
		         		<span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
		         		Registro
		         	</button>
		         </li>



		        	<span id="tituloBarra"  class="animated bounceInRight">{{DatoTest}}ABM - PHP - Angular Versión 1.0.1 &nbsp;&nbsp;&nbsp;</span>
      </ul>
      
      <div ui-view name="contenido"></div>
      <!--	"contenido" es el nombre que utilizo en miAplicacion.js en los estados hijo de persona, en sus views (el nombre del view tiene que ser el mismo que el name de ui-view), aunque solo existe un solo view podira crear mas (siempre respetando lo de usar los mismo nombres del ui-view con su respectiva view)-->