<div class="container">
		<div class="page-header">
			<center> <h1>Datos {{DatoTest}}</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> <!--?php echo $titulo; ?-->titulo </h1>

			<form id="FormRegistro"  enctype="multipart/form-data" name="FormRegistro" >
				
				<!--           CLASE3               -->
				<input type="checkbox" ng-model="ver"/>
				<span>{{ver}}</span>
				


				<input type="text" name="nombre" ng-model="registro.nombre" placeholder="ingrese nombre" value="" required/> <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
				

				<input type="text" name="apellido" ng-model="registro.apellido" placeholder="ingrese apellido" value="" required/>
				<span id="lblApellido" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*
				</span>

				<input type="number" min="1" max="100" name="dni" ng-model="registro.edad" placeholder="ingrese edad" value=""   required  /> 
				<span id="lblEdad" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>

				<span>Sexo:</span>	<br>
				<span>Masculino</span>
				<input type="radio" name="sexo" ng-model="registro.sexo" value="Masculino" required/>
				<span>Femenino</span>
				<input type="radio" name="sexo" ng-model="registro.sexo" value="Femenino"/>
				<span>Otro</span>
				<input type="radio" name="sexo" ng-model="registro.sexo" value="Otro"/>
				<span id="lblSexo" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>


				<input type="number" min="1000000" name="dni" ng-model="registro.dni" placeholder="ingrese dni" value=""   required  /> 
				<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>


				<input type="email" name="email" ng-model="registro.email" placeholder="ingrese email" value=""   required  /> 
				<span id="lblEmail" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>


				<input type="date" name="nacimiento" ng-model="registro.nacimiento" placeholder="ingrese fecha de nacimiento" value=""   required  /> 
				<span id="lblNacimiento" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>


				<span>Lenguajes conocidos:</span>	<br>
				<input type="checkbox" name="lenguajeProg1" ng-model="registro.lenguajeProg1" value="C"/><span>C</span><br>
				<input type="checkbox" name="lenguajeProg2" ng-model="registro.lenguajeProg2" value="C#"/><span>C#</span><br>
				<input type="checkbox" name="lenguajeProg3" ng-model="registro.lenguajeProg3" value="C++"/><span>C++</span><br>
				<input type="checkbox" name="lenguajeProg4" ng-model="registro.lenguajeProg4" value="Java"/><span>Java</span><br>
				<input type="checkbox" name="lenguajeProg5" ng-model="registro.lenguajeProg5" value="Python"/><span>Python</span><br>







				<input type="password" name="password" ng-model="registro.password" placeholder="ingrese password" value=""    required />

				<input type="password" name="copiaPassword" ng-model="registro.copiaPassword" placeholder="ingrese password nuevamente" value=""   required  />






				<div class="row">

                <div class="col-md-3">

                    <h3>Select files</h3>

                    <div ng-show="SubidorDeArchivos.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div class="well my-drop-zone" nv-file-over="" uploader="SubidorDeArchivos">
                            Base drop zone
                        </div>

                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                        <!--div nv-file-drop="" uploader="SubidorDeArchivos" options="{ url: '/foo' }"-->
                        <div nv-file-drop="" uploader="SubidorDeArchivos">
                            <div nv-file-over="" uploader="SubidorDeArchivos" over-class="another-file-over-class" class="well my-drop-zone">
                                Another drop zone with its own settings
                            </div>
                        </div>
                    </div>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <input type="file" nv-file-select="" uploader="SubidorDeArchivos" multiple  /><br/>

                </div>

                <div class="col-md-9" style="margin-bottom: 40px">
                    <h2>Uploads only images (with canvas preview)</h2>
                    <h3>The queue</h3>
                    <p>Queue length: {{ SubidorDeArchivos.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="SubidorDeArchivos.isHTML5">Size</th>
                                <th ng-show="SubidorDeArchivos.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in SubidorDeArchivos.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div ng-show="SubidorDeArchivos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="SubidorDeArchivos.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="SubidorDeArchivos.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': SubidorDeArchivos.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="SubidorDeArchivos.uploadAll()" ng-disabled="!SubidorDeArchivos.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="SubidorDeArchivos.cancelAll()" ng-disabled="!SubidorDeArchivos.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="SubidorDeArchivos.clearQueue()" ng-disabled="!SubidorDeArchivos.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>

            </div>





				<!--p style='color: black;'>*El DNI no se puede modificar.</p> ": "" ; ?-->
				
				<input type="hidden" name="idOculto" id="id" value="" />
				<!--
				<input type="file" name="foto" />


				<img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
				<p style="  color: black;">*La foto se actualiza al guardar.</p>
				-->

				<a class="btn btn-info " ng-disabled="FormRegistro.$invalid" name="guardar" ng-click="Guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>
				<!--   required en los campos del formulario hace que el estado valid o invalid cambie   -->


				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				</div>

			</form>
	</div>
	</div>